h1{
  color: black;
  background-color: white;
}


input {
  margin-bottom: 15px;
}

.wbdv-nudge-15px-down {
  position: relative;
  top: 15px;
}

.wbdv-bottom-right-fixed {
  position: fixed;
  color: red;
  right: 15px;
  bottom: 15px;
}



.wbdv-padding-left-header {
  padding-left: 36px;
  padding-top: 15px;
  color: lightgray;
}

.wbdv-file-icon-style {
  color: dodgerblue;
}

.wbdv-circle-add-style {
  color: darkred;
}

.wbdv-document-table-text-style {
  color: black;
  padding-left: 12px;
}

.wbdv-nav-buttons-nudge {
  margin-right: 0;
  margin-left: 15px;
}

.wbdv-light-gray-background {
  background-color: whitesmoke;
  margin: 0;
  padding: 10px;
}

.wbdv-small-nudge-right {
  margin-right: 5px;
}

.wbdv-white-text {
  color: #FFF;
}

.wbdv-float-left {
  float: left;
}

.active{
  background-color: blue;
}

.Link :active{
  background-color: blue;
  color: green;
}
.Link :hover{
  color: blueviolet;
}

.wbdv-highlight-background{
  background-color: blue;
}
.wbdv-highlight-background-dark{
  background-color: lightcyan;
}

.wbdv-highlight-background-dark-selected{
  background-color: aliceblue;
  margin-bottom: 5px;
}

.wbdv-display-inline {
  display: inline-block;
}

.wbdv-module-plus-button {
  text-align: center;
}

.wbdv-no-padding-margin-left {
  padding-left: 0;
  margin-left: 0;
}

.wbdv-add-border {
  border-style: ridge;
}

.wbdv-widget-bottom-buttons {
  margin-bottom: 5px;
  margin-left: 5px;
}

.wbdv-left-margin {
  margin-left: 5px;
}

.wbdv-bottom-margin-20 {
  margin-bottom: 20px;
}

.wbdv-bottom-margin-10 {
  margin-bottom: 10px;
}

img{
  margin-left: 41px;
  max-width:600px;
  max-height:550px;
}

.wbdv-module-unselected {
  background-color: #282c34;
}

.wbdv-module-active{
  background-color: coral;
}
